/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Righteous&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #f5f5f5;
  width: 100vw;
  overflow-x: hidden;   
}

header {
  height: 500px;
  background-color: #4617fe;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  cursor: pointer;
  align-items: center;
  padding: 2vw 0;
}

.menu {
  display: none;
}

.nav-item {
  color: white;
  font-size: 0.8rem;
  margin-left: 1vw;
}

.nav-item-active {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #5a31fc;
  font-weight: 400;
  margin: 0 1vw;
}

.header-text {
  color: white;
  margin-left: 60px;
  margin-top: 50px;
  float: left;

}

.header-text h2 {
  font-weight: 400;
  font-size: 2.5rem;
}

.header-image {
  float: right;
}

.companies {
  margin-top: 20px;
  margin-left: 60px;
  font-size: 1.3rem;
}

.company-items {
  text-decoration: none;
  margin-left: 30px;
  color: black;
  font-weight: 400;
  font-family: "Righteous", cursive;
}

/* .................................API................... */
.api {
  margin: 8vw 0;
}
.api-heading {
  width: 85%;
  margin: auto;
  font-style: bold;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 3vw;
}

.cards {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2vw;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: flex-start;
  padding: 1vw;
}

.card-active {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 3px;
}

.card-logo {
  width: 40px;
}

.card-head {
  color: black;
}

.card-head-active {
  color: #5a31fc;
}

.card-body {
  color: black;

  font-size: small;
}
/* /////////////////////////////////////////////////////////////////////// */
.blog-heading {
  margin-top: 4vw;
  /* margin-left: 90px; */
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 85%;
  margin: auto;
}

.blog-heading a {
  text-decoration: none;
  color: #5a31fc;
  font-weight: 500;
}

.blog-cards {
  display: flex;
  justify-content: space-around;
  margin-left: 90px;
  margin-top: 50px;
}

.blog-card {
  display: flex;
  height: 288px;
  width: 40vw;
  background-color: white;
  border-radius: 70px 10px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-right: 50px;
}

.blog-content {
  margin: 30px 0 0 30px;
}
.blog-content h6 {
  color: #3409dd;
  font-weight: 800;
  margin-bottom: 10px;
}
.blog-content h3 {
  font-size: 1rem;
  line-height: 1em;
  margin-bottom: 1em;
}

small {
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1.1em;
}

.blog-bottom {
  display: flex;
  justify-content: flex-start;
  margin-top: 10vh;
}

.blog-card-bottom-image {
  margin-top: 20px;
  margin-right: 20px;
}

.blog-author {
  font-size: x-small;
  float: right;
  margin-top: 16px;
  margin-right: 10px;
  font-weight: bold;
}

.blog-card {
  float: left;
}

.blog-cards {
  display: flex;
  flex-direction: row;
}
/* ///////////////////////  faq-section  ////////////////////////// */

.faq-section {
  width: 90%;
  margin: auto;
  background-color: #e9edff;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: space-between;
}

.faq-image {
  height: 100%;
}

.faq-content {
  margin-left: 90px;
  margin-top: 4vw;
}

.faq-content h2 {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 1vw;
}
.faq-content h3 {
  font-size: 0.7rem;
  margin-bottom: 2vw;
}

.faq-content h4 {
  font-size: 0.9rem;
  font-weight: normal;
  margin-bottom: 1.7vw;
}

.faq-content button {
  background: #5a31fc;
  border-radius: 3px;
  color: white;
  border: none;
  display: inline-block;
  padding: 0.7em;
}

/* ///////////////////////// download-content /////////////////////////// */
.download-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 225px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.download-content h1 {
  font-size: 200%;
}
.download-content span {
  font-size: 100%;
  font-weight: normal;
}

.download-email {
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: row;
  height: 40px;
  border: 2px solid grey;
  border-radius: 22px;
  padding: 2px;
  background-color: #e9edff;
}

input {
  flex-grow: 2;
  border: none;
  width: 30vw;
  background-color: transparent;
  text-align: center;
}

input:focus {
  outline: none;
}

button {
  width: 150px;
  color: white;
  border-radius: 20px;
  border-width: 1px;
  background-color: #5a31fc;
  border: none;
}

/* footer ....................................... */
.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #3c0afe;
  padding: 2vw 0;
  color: white;
}

.footer-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
  margin-bottom: 2vw;
}

.footer-logos {
  margin-left: 2vw;
}

.list {
  display: flex;
  color: white;
  font-size: 0.8rem;
}

.logos-list {
  display: flex;
  color: white;
  font-size: 0.8rem;
}
.list-itemss {
  margin-left: 2vw;
}

.list-items {
  margin-right: 2vw;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
}

/* ///////////////////// Media */

@media (max-width: 986px) {
  .menu {
    display: block;
    width: 30px;
  }
  .nav-listt {
    display: none;
  }
  .header-text {
    padding-left: 4vw;
    width: 90%;
    margin: auto;
    color: white;
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
  .header-text h2 br {
    display: none;
  }

  .companies {
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
  }

  .api-heading {
    width: 90%;
    margin: auto;
text-align: center;
    margin-bottom: 3vw;
  }

  .cards {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4vw;
    padding-left: 2vw;
  }

  .blog-heading {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
  }
  .blog-heading br{
    display: none;
  }

  .blog-cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2vw;
   margin-left: 4vw;

  }
  .blog-card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    margin: auto;
    border-radius:0 ;
    
  }
 .blog-image{
    width: 100%;
    border-radius: 0;
 }

  .blog-bottom {
    display: flex;
    justify-content: flex-start;
    margin: 1vw 0;
  }
  
  .faq-section {
    width: 100%;
    margin: auto;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .faq-image {
    display: none;
    width: 100%;
    margin-top: 4vw;
    order: -1;
  }
 

  .faq-content {
    width: 95%;
    text-align: center;
    margin: 3vw 0;
  }
  
  .faq-content br{
    display: none;
  }

  .download-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input {
    margin-top: 2vw;
    border: none;
    width: 50vw;
    
  }
  .footer-section {
    display: flex;
    
    justify-content: space-around;
    background-color: #3c0afe;
    padding: 2vw 0;
    color: white;
  }

  .logos-list{
    display: none;
  }

}
/* //////////////////////////////////////////////// */

@media (max-width:700px) {
    
    .faq-image {
        display: block;
        width: 100%;
        margin-top: 4vw;
        order: -1;
      }
      

}
